/* Home.css */

/* Styles for the main container */
.home-container {
    text-align: center;
    padding: 20px;
  }
  
  /* Styles for scrollable container */
  .scrollable-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  /* Styles for items lost container */
  .items-lost-container {
    width: 45%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Styles for items found container */
  .items-found-container {
    width: 45%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Styles for item card */
  .item-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .header{
    color: black;
  }